.hidden {
	display: none;
}

.clearfix {
	height:0;
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.button{
	padding: 0.7em 2em;
	font-size: 1.0em;
	text-decoration: none;
	border: 2px solid #c4c4c4; 
	border-radius: 5px; 
	-webkit-border-radius: 4px;
	line-height: 1;
}
.button:hover{
/*	background: #333;*/
background-color: #b25e51;
}

.case {
	witdh: 100%;
	margin: 0 auto;
	border-style: double;
	padding: 0.7em 2em;
	font-size: 1.0em;
	border: 2px solid #c4c4c4; 
	border-radius: 5px; 
	-webkit-border-radius: 4px;
	line-height: 1;
}

